<div class="viewportWrapper" style="width:100%;height:100%;position:relative;color: white;float:left;background-color:black;"
     oncontextmenu="return false"
     class='cornerstone-enabled-image'
     unselectable='on'
     onselectstart='return false;'
     onmousedown='return false;'>
    <!-- Viewport -->
    <div class="viewport"></div>

    <!-- Overlays -->
    <div class="overlay hidden-xs" style="top:2px; left:3px">
        <div>Patient Name</div>
        <div>Patient Id</div>
    </div>

    <div class="overlay hidden-xs" style="top:2px; right:3px">
        <div>Series Description</div>
        <div>Study Date</div>
    </div>
	


    <div class="overlay hidden-xs" style="bottom:2px; left:3px">
        <div class="fps hidden-xs">FPS:</div>
        <div class="renderTime hidden-lg hidden-md hidden-sm">Render Time:</div>
        <div class="currentImageAndTotalImages hidden-xs">Image #:</div>
    </div>

    <div class="overlay hidden-xs" style="bottom:2px; right:3px">
        <div class="hidden-sm hidden-md hidden-lg">Zoom:</div>
        <div>WW/WC:</div>
    </div>
	
		<div class="overlay" id="upArrowDiv" style="top: 40px; right:5px">
		<button type="button" id="upArrow" class="btn btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Scroll up one image"><span class="fa fa-long-arrow-up"></span></button>		
	</div>
	
	<div class="overlay" id="downArrowDiv" style="bottom: 40px; right:5px">
		<button type="button" id="downArrow" class="btn btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Scroll down one image"><span class="fa fa-long-arrow-down"></span></button>		
	</div>
</div>
