<div class="modal fade" id="wwWLModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">CT Windowing</h4>
            </div>
            <div class="modal-body">
				<table class="table tabld-sm table-bordered">
					<thead>
						<tr>
							<th>Keyboard Key</th>
							<th>Window</th>
							<th>Hounsfield width/level</th>
						</tr>
					</thead>
						
					<tbody>
						<tr>
							<th>1</th>
							<td>
					<button id="brainBtn" class="btn btn-primary btn-modal col-xs-6">Brain
					</button>
							</td>
							<td>80/40</td>
						</tr>
						<tr>
							<th>2</th>
							<td>
					<button class="btn btn-primary btn-modal col-xs-6">Infarct
					</button>
							</td>
							<td>30/30</td>
						</tr>
						<tr>
							<th>3</th>
							<td>
					<button class="btn btn-primary btn-modal col-xs-6">Subdural
					</button>
							</td>
							<td>125/75</td>
						</tr>
						<tr>
							<th>4</th>
							<td>
					<button class="btn btn-primary btn-modal col-xs-6">Bone
					</button>
							</td>
							<td>2500/600</td>
						</tr>
						<tr>
							<th>5</th>
							<td>
					<button class="btn btn-primary btn-modal col-xs-6">Abdomen
					</button>
							</td>
							<td>400/40</td>
						</tr>
						<tr>
							<th>6</th>
							<td>
					<button class="btn btn-primary btn-modal col-xs-6">Liver
					</button>
							</td>
							<td>150/50</td>
						</tr>
						<tr>
							<th>7</th>
							<td>
					<button class="btn btn-primary btn-modal col-xs-6">Lung
					</button>
							</td>
							<td>1000/-700</td>
						</tr>
						<tr>
							<th>8</th>
							<td>
					<button class="btn btn-primary btn-modal col-xs-6">Lung Wide
					</button>
							</td>
							<td>1500/-400</td>
						</tr>
					</tbody>	
				</div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

